.contact-us {
  background-color: $basicBlue;
  background-image: url("../img/background/background-plane@1x.png"),
    url("../img/background/background-two-triangles.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 355px) calc(50% - 30px),
    calc(50% - 450px) calc(50% - 75px);
  background-size: 511px 288px, 675px;

  @media (max-width: $tabletMax) {
    background-image: none;
  }
}

.contact-us__wrapper {
  padding: 91px 120px 94px 120px;
  display: grid;
  grid-template-columns: 1fr 600px;

  @media (max-width: $tabletMax) {
    padding: 80px 70px 79px 74px;
    grid-template-columns: 1fr minmax(600px, 700px);
  }

  @media (max-width: $mobileMax) {
    padding: 30px 0 22px 0;
    grid-template-columns: 1fr minmax(290px, 700px) 1fr;
  }
}

.contact-us__form {
  grid-column: 2 / 3;

  @media (max-width: $tabletMax) {
    padding-left: 4px;
  }

  @media (max-width: $mobileMax) {
    padding-left: 0;
  }
}

.contact-us__form h3 {
  margin: 0 15px 9px 10px;
  font-family: $robotoCondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $tabletMax) {
    margin: 0 15px 14px 10px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobileMax) {
    margin: 0 15px 14px 15px;
    font-size: 28px;
    line-height: 39px;
  }
}

.contact-us__form p {
  margin: 0 15px 31px 15px;
  font-family: $ptmono;
  font-weight: 400;
  line-height: 22px;
  color: $white;

  @media (max-width: $tabletMax) {
    margin: 0 15px 33px 15px;
  }

  @media (max-width: $mobileMax) {
    margin: 0 15px 10px 15px;
  }
}

.contact-us__form-flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact-us__input {
  margin: 20px 15px;
  flex-grow: 1;
  flex-basis: 270px;
  background-color: $basicBlue;

  @media (max-width: $tabletMax) {
    margin: 22px 15px;
  }

  @media (max-width: $mobileMax) {
    margin: 15px 15px;
  }
}

.contact-us__text-input {
  flex-grow: 1;
  flex-basis: 540px;
}

.contact-us__text-input textarea {
  height: 154px;

  @media (max-width: $mobileMax) {
    height: 107px;
  }
}

.contact-us__submit-button {
  margin: 20px 15px;
  padding: 14px;
  flex-grow: 1;
  flex-basis: 270px;
  font-family: $robotoCondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: $basicBlue;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: $tabletMax) {
    margin: 25px 15px;
  }

  @media (max-width: $mobileMax) {
    margin: 13px 15px;
  }
}

.contact-us__data-agreement-input {
  margin: 20px 15px;
  padding: 0 8px;
  flex-grow: 1;
  flex-basis: 270px;

  @media (max-width: $mobileMax) {
    padding: 0;
  }
}

.contact-us__data-agreement-input label {
  margin-right: 25px;
  padding-left: 32px;
  position: relative;
  display: block;
  font-family: $ptmono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $whiteOpacue08;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    overflow: hidden;
  }

  @media (max-width: $mobileMax) {
    &::before {
      top: 1px;
    }
  }
}

.contact-us__data-agreement-input input:checked + label::before {
  background-image: url("../img/icons/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
