.features {
  padding: 109px 135px;

  @media (max-width: $tabletMax) {
    padding: 54px 25px;
  }

  @media (max-width: $mobileMax) {
    padding: 37px 16px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(300px, auto));
  gap: 30px;

  @media (max-width: $tabletMax) {
    grid-template-rows: repeat(2, minmax(232px, auto));
  }

  @media (max-width: $mobileMax) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(232px, auto));
  }
}

.features__item {
  padding: 40px 45px;
  color: $basicBlue;
  border: 1px solid $grey;
  border-left: 3px solid $basicBlue;

  &:hover {
    background-color: $basicBlue;
    color: $white;
    border: 1px solid $basicBlue;

    & p {
      color: $white;
    }
  }

  @media (max-width: $tabletMax) {
    padding: 24px 15px 20px 27px;
    border-left: 1px solid $basicBlue;
  }
}

.features__item h3 {
  margin: 23px 0 15px 0;
  font-family: $robotoCondensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  @media (max-width: $tabletMax) {
    margin: 14px 0 8px 0;
  }
}

.features__item p {
  margin: 0;
  line-height: 22px;
  color: $grey3;
}

.features__item svg {
  @media (max-width: $tabletMax) {
    width: 32px;
    height: 32px;
  }
}
