.features {
  padding: 112px 135px 103px 135px;

  @media (max-width: $tabletMax) {
    padding: 54px 25px;
  }

  @media (max-width: $mobileMax) {
    padding: 37px 15px 52px 15px;
  }
}

.features__list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $mobileMax) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.features__item {
  padding: 40px 42px;
  min-height: 300px;
  color: $basicBlue;
  border: 1px solid $grey;
  border-left: 3px solid $basicBlue;

  &:hover {
    background-color: $basicBlue;
    color: $white;
    border: 1px solid $basicBlue;

    & p {
      color: $white;
    }
  }

  @media (max-width: $tabletMax) {
    padding: 24px 18px 20px 27px;
    min-height: 232px;
    border-left: 1px solid $basicBlue;
  }

  @media (max-width: $mobileMax) {
    padding: 24px 15px 24px 25px;

    &--suppliers {
      padding: 24px 10px 28px 25px;
    }

    &--confidentiality {
      padding: 24px 10px 24px 25px;
    }
  }
}

.features__item h3 {
  margin: 15px 0;
  font-family: $robotoCondensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  @media (max-width: $tabletMax) {
    margin: 7px 0 8px 0;
  }

  @media (max-width: $mobileMax) {
    margin: 10px 0 10px 0;
    font-size: 20px;
    line-height: 28px;
  }
}

.features__item--suppliers h3 {
  @media (max-width: $mobileMax) {
    margin: 8px 0 8px 0;
  }
}

.features__item--confidentiality h3 {
  @media (max-width: $mobileMax) {
    margin: 2px 0 15px 0;
  }
}

.features__item--price h3 {
  @media (max-width: $mobileMax) {
    margin: 8px 0 15px 0;
  }
}

.features__item p {
  margin: 0;
  line-height: 22px;
  color: $grey3;
}

.features__item svg {
  @media (max-width: $tabletMax) {
    width: 32px;
    height: 32px;
  }
}


