.footer {
  padding-top: 65px;
  position: relative;
  background-color: $grey6;

  @media (max-width: $tabletMax) {
    padding-top: 19px;
  }

  @media (max-width: $mobileMax) {
    padding-top: 46px;

    &::before {
      display: none;
    }
  }
}

.footer__grid-layout {
  padding: 0 12px;
  display: grid;
  grid-template-columns: 225px minmax(235px, 375px) minmax(230px, 480px) minmax(
      230px,
      335px
    );
  grid-template-rows: repeat(3, auto);

  @media (max-width: $tabletMax) {
    padding: 0 25px;
    grid-template-columns: 300px auto auto;
  }

  @media (max-width: $mobileMax) {
    padding: 0;
    grid-template-columns: minmax(15px, 1fr) minmax(290px, 500px) minmax(
        15px,
        1fr
      );
    grid-template-rows: repeat(7, auto);
  }
}

.footer__logo {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;

  @media (max-width: $mobileMax) {
    margin: 0 auto;
    grid-column: 2 / 3;
  }
}

.footer__logo > img {
  width: 52px;
  height: 52px;
}

.footer__logo > span {
  margin-left: 15px;
  display: block;
  font-family: $robotoCondensed;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $dark;

  @media (max-width: $mobileMax) {
    margin-right: 12px;
  }
}

.footer__logo span > span {
  display: block;
  font-family: $roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $grey5;
}

.footer__socials-list {
  padding: 15px 0 55px 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $tabletMax) {
    padding: 5px 0 35px 0;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: right;
  }

  @media (max-width: $mobileMax) {
    margin: 0 auto;
    padding: 0 0 45px 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.footer__socials-item {
  margin-right: 15px;
  height: fit-content;
  width: fit-content;

  @media (max-width: $tabletMax) {
    margin: 5px 0 5px 15px;
  }

  @media (max-width: $mobileMax) {
    margin: 7px;
  }
}

.footer__socials-link {
  display: block;
  color: $grey4;

  &:hover,
  &:focus {
    color: $basicBlue;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__socials-link svg {
  display: block;
}

.footer__site-nav {
  margin-left: 40px;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) max-content minmax(auto, 1fr);
  grid-template-rows: auto auto;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 16%;
  //   left: 0;
  //   display: block;
  //   width: 100%;
  //   height: 1px;
  //   background-color: $grey7;
  //   opacity: 0.2;
  // }

  @media (max-width: $tabletMax) {
    margin-left: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    &::before {
      bottom: 15%;
    }
  }

  @media (max-width: $mobileMax) {
    margin: 0 auto;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}

.footer__site-nav h4 {
  margin: 0;
  padding: 0 0 27px 0;
  font-family: $robotoCondensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basicDark;
  grid-column: 2 / 3;

  @media (max-width: $tabletMax) {
    padding: 38px 0 29px 0;
    grid-column: 1 / 2;
  }

  @media (max-width: $mobileMax) {
    padding: 31px 0 25px 0;
    cursor: pointer;
  }
}

.footer__site-nav-list {
  padding-bottom: 55px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  min-width: 500px;
  max-width: 750px;

  @media (max-width: $tabletMax) {
    padding-bottom: 33px;
    grid-column: 1 / 2;
    grid-auto-flow: row;
    grid-template-rows: initial;
    min-width: fit-content;
    max-width: unset;
  }
}

.footer__site-nav-item {
  margin: 0 20px 5px 0;
  width: fit-content;
}

.footer__site-nav-link {
  font-family: $ptmono;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $basicDark;
  opacity: 0.5;

  &:hover,
  &:focus {
    color: $basicBlue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__contacts {
  position: relative;
  grid-row: 1 / 3;

  @media (max-width: $tabletMax) {
    padding-right: 8px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-self: right;
  }

  @media (max-width: $mobileMax) {
    margin: 0 auto;
    padding-right: 50px;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    width: 100%;
    justify-self: left;
  }
}

.footer__contacts h4 {
  margin: 0;
  padding: 0 0 27px 0;
  font-family: $robotoCondensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basicDark;

  @media (max-width: $tabletMax) {
    padding: 38px 0 29px 0;
  }

  @media (max-width: $mobileMax) {
    padding: 31px 0 25px 0;
  }
}

.footer__contacts-list {
  padding-bottom: 55px;
  display: block;

  @media (max-width: $tabletMax) {
    padding-bottom: 33px;
  }

  @media (max-width: $mobileMax) {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.footer__contacts-item {
  margin-bottom: 5px;

  @media (max-width: $mobileMax) {
    margin-bottom: 7px;
  }
}

.footer__contacts-link {
  font-family: $ptmono;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $basicDark;
  opacity: 0.5;

  &:hover,
  &:focus {
    color: $basicBlue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__extra-link {
  margin: 14px 14px 14px 0;
  grid-row: 4 / 5;
  display: block;
  width: fit-content;
  height: fit-content;
  font-family: $ptmono;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $basicDark;
  opacity: 0.5;

  &:hover,
  &:focus {
    color: $basicBlue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__extra-link--rights {
  @media (max-width: $tabletMax) {
    display: none;
  }
}

.footer__extra-link--confidentiality {
  @media (max-width: $tabletMax) {
    margin: 22px 0;
  }

  @media (max-width: $mobileMax) {
    margin: 26px auto 0 auto;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }
}

.footer__extra-link--trade-mark {
  @media (max-width: $tabletMax) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media (max-width: $mobileMax) {
    margin: 25px auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.footer__extra-link--designed {
  margin-right: 0;
  justify-self: right;

  @media (max-width: $tabletMax) {
    margin: 22px 0;
    grid-column: 2 / 4;
  }

  @media (max-width: $mobileMax) {
    margin: 26px auto 0 auto;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }
}

.footer__menu {
  @media (max-width: $mobileMax) {
    display: block;

    &--hide {
      display: none;
    }
  }
}
