.goods {
  background-color: $basicDark;
}

.goods__wrapper {
  padding: 88px 120px 112px 120px;

  @media (max-width: $tabletMax) {
    padding: 51px 25px 57px 25px;
  }

  @media (max-width: $mobileMax) {
    padding: 47px 15px 50px 15px;
  }
}

.goods h2 {
  margin: 0 0 37px 15px;
  font-family: $robotoCondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $tabletMax) {
    margin: 0 100px 26px 0;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobileMax) {
    margin: 0 0 26px 9px;
    font-size: 28px;
    line-height: 39px;
  }
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tabletMax) {
    flex-direction: column;
  }
}

.goods__item {
  margin: 15px;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 255px;
  // max-width: 370px;
  max-height: 620px;
  flex-basis: 255px;

  @media (max-width: $tabletMax) {
    margin: 23px 0;
    max-height: 256px;
    flex-basis: 718px;
  }

  @media (max-width: $mobileMax) {
    margin: 15px 0;
    flex-basis: 290px;
  }
}

.goods__link {
  position: relative;
  display: block;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    min-width: 63px;
    min-height: 63px;
    background-color: $basicBlue;
    background-image: url("../img/icons/icon-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    z-index: 1;
  }

  &:hover,
  &:focus {
    outline: 1px solid $basicBlue;

    & img {
      opacity: 0.35;
    }

    & h4 {
      color: $basicBlue;
    }
  }

  &:active {
    background-color: $basicBlueOpacue01;
  }
}

.goods__link picture {
  display: block;
}

.goods__link img {
  display: block;
  opacity: 0.2;
  width: 100%;
  height: auto;
  max-height: 620px;
  object-fit: cover;

  @media (max-width: $tabletMax) {
    max-height: 256px;
  }
}

.goods__item h4 {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 44px;
  display: block;
  width: 170px;
  font-family: $robotoCondensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  z-index: 1;

  @media (max-width: $tabletMax) {
    top: 40px;
    left: 43px;
  }

  @media (max-width: $mobileMax) {
    top: 23px;
    left: 35px;
  }
}
