.header {
  position: relative;
  color: $white;
  background-color: $basicDark;
  box-sizing: border-box;
  background-image: url("../img/background/header-background-waves@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/background/header-background-waves@2x.png");
  }
}

.header__wrapper {
  padding: 33px 15px 100px 15px;
}

.header__nav-grid-layout {
  display: grid;
  grid-template-columns: 1fr auto;
}

.header__logo {
  display: flex;
  width: 205px;
  align-items: center;
}

.header__logo > span {
  margin-left: 5px;
  display: block;
  font-family: $robotoCondensed;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.header__logo span > span {
  display: block;
  font-family: $roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $grey5;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header__nav-link {
  margin: 10px 40px;
  display: flex;
  align-items: center;
  line-height: 18px;
  color: $white;
}

.header__nav-phone {
  white-space: nowrap;
}

.header__nav-link svg {
  margin-right: 15px;
  color: $basicBlue;
}

.header__nav-button {
  padding: 12px 0;
  width: 180px;
  text-align: center;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
}
