html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: $ptmono;
  font-weight: 400;
  font-size: 16px;
  color: $black;
  background-color: $white;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: $desktopMax;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
