//Fonts
$ptmono: "PTMono", Arial, sans-serif;
$robotoCondensed: "Roboto Condensed", Arial, sans-serif;
$roboto: "Roboto", Arial, sans-serif;

//Breakpoints
$desktopMax: 1440px;
$desktopMin: 1024px;
$tabletMax: 1023px;
$tabletMin: 768px;
$mobileMax: 767px;
$mobileMin: 320px;

//Colours
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$whiteOpacue01: rgba(255, 255, 255, 0.1);
$whiteOpacue08: rgba(255, 255, 255, 0.8);
$basicBlue: rgba(0, 178, 255, 1);
$basicBlueOpacue01: rgba(0, 178, 255, 0.1);
$basicDark: rgba(27, 45, 55, 1);
$grey: rgba(235, 235, 235, 1);
$grey2: rgba(242, 242, 242, 1);
$grey3: rgba(102, 102, 102, 1);
$grey4: rgba(205, 205, 205, 1);
$grey5: rgba(120, 136, 145, 1);
$grey6: rgba(250, 250, 250, 1);
$dark: rgba(32, 60, 66, 1);
